@model IEnumerable<SGLPWEB.Models.Caso>

@{
    ViewData["Title"] = "Index";
}
@{
    var rol = Context.Session.GetString("Rol");
}

@if (rol == "Administrador" || rol == "Empleado")
{
    <a asp-action="Create" class="btn btn-success mb-3">Crear nuevo</a>
}

<h1>Casos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoCaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCaso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CasoId" class="btn btn-info btn-sm">Ver</a>

                    @if (rol == "Administrador" || rol == "Empleado")
                    {
                        <a asp-action="Edit" asp-route-id="@item.CasoId" class="btn btn-warning btn-sm">Editar</a>
                    }

                    @if (rol == "Administrador")
                    {
                        <a asp-action="Delete" asp-route-id="@item.CasoId" class="btn btn-danger btn-sm">Eliminar</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="Dashboard" class="btn btn-outline-primary">
    🏠 Volver al panel principal
</a>
